*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
}
.main-container{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
header{
    margin: 0;
    padding: 3px;
}
.color{
    height: 33px;
    padding: 7px;
}
.colorSchemeDropDown, .getColorSchemebtn{
    padding: 7px;
}
.mainSection{
    margin: 0;
    padding: 0;
}
.section1, .section2{
    width: 100%;
    display: flex;
}
.colorWindow{
    width: 20%;
    height: 350px;
}
.rgb-info{
    width: 20%;
    height: 20px;
    padding: 5px 15px;
    text-align: center;
}
.color1{
    background: #ffca29;
}
.color2{
    background: #23aee1;
}
.color3{
    background: #009726;
}
.color4{
    background: #6e0047;
}
.color5{
    background: #00104c;
}